[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
djangorestframework = "~=3.11.0"
pillow = "*"
django-cors-headers = "==3.4.0"
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
cloudinary = "*"
python-dotenv = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.6"
